@import "../../Styles/GlobalStyles.scss";

 body {
    background-color: $blueBackground;
    font-family: $PublicSans;
 }

.navBarContainer {
    display: flex;
    background: $blueBackground;
    justify-content: space-between;

}

.homeButton  {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.profilePageButton {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

a {
    margin: 15px 10px 10px 10px;
    // background: $greyBackground;
    color: $orangeBackground;
    // background-color: $greyBackground;  
    padding: 2.5px 20px;
    // text-align: center;
    // text-decoration: none;
    // display: inline-block;
    border: solid 2px $orangeBackground;
    text-decoration: none;
    border-radius: 25px;
}



a:hover {
    
    color: $whiteFontColor;
    box-shadow: 0px 0px 3px 3px $greyBackground;
}

a:active {
     box-shadow: none;
     color: $orangeBackground;
}
