@import "../../Styles/GlobalStyles.scss";


body {
  background: #062356;
  color: #fffff2;
}

.sliderContainer {
  width: 42.5vw;
  margin: auto;
  padding: 20px 40px 30px 40px;
}

.error {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: $PublicSans;
  text-align: center;
  padding: 100px auto;
  font-size: 0.8rem;
}


@media (max-width: 898px) {
  .sliderContainer {
    width: 55vw;
  }
}

@media (max-width: 656px) {
  .sliderContainer {
    width: 65vw;
  }
}

@media (max-width: 320px) {
  .sliderContainer {
    width: 70vw;
  }
}
