@import '../../Styles/GlobalStyles.scss';


body {
    background-color: $blueBackground;
    color: $whiteFontColor;
    font-family: $PublicSans;
    text-align: center;
}



.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        width: 50px;
        margin-right: 20px;
    }
}

.profile-button-image{
    width: 100px;
    height: 100px;
}

#build-your-profile-button-text{
    margin-top: 0;
}

.pop-up-profile-section{
    display: flex;
    flex-direction: column;
    background-color: #EE8434;
    width: 80%;
    justify-self: center;
    justify-content: center;
    font-family: $MartianMono;
    #profile-astronaut-picture{
        width: 200px;
        height: auto;
        border: black 3px solid;
        // float: right;
        // margin-right: 20px;
    }
}

.profile-information{
    line-height: 25px;
    display: block;
    // flex-direction: row;
    // justify-content: space-between;
}
.side-by-side-information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.name-and-age-profile{}

.profile-fun-facts{
    margin-left: 20px;
    margin-right: 20px;
}

.profile-rover-photos{
    width: 50%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}
