
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$orangeBackground: #E4965B;
$blueBackground: #062356;
$greyBackground: #878888;

$MartianMono: "Martian Mono", monospace;
$PublicSans: "Public Sans", sans-serif;
$whiteFontColor: #FFFFF2;
$boldFontWeight: 900;

$buttonColor: #878888;
