
.photoOfTheDayContainer{
    display: flex;
    justify-content: center;    
}

.photo-of-the-day{

    width: 50%;
    margin: 50px;
    border-radius: 20px;
    border: 10px blue solid;

}

.explanation {
    width: 70%;
    margin: auto;
}
